<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Add New Items</title>
</head>
<body>

<h2>Add Items</h2>


{% if messages %}

{% for message in messages %}

   <p>{{message}}</p>

{% endfor %}

{% endif %}


<form action="{% url 'add-items' %}" enctype="multipart/form-data" method="post">
               {% csrf_token %}
               {{form.as_p}}
<button type="submit" >Sumit</button>
</form>
               
</body>
</html>